@font-face {
  font-family: Pretendard;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: auto;
  /* min-height: 100%; */
  height: 1000px;

  font-family: Pretendard;
}